services:
  todoapp-dev:
    command: npm run dev -- --host
    image: todo-frontend-dev
    build:
      context: .
      dockerfile: Dockerfile-dev
    volumes:
      - ./:/usr/src/app
    ports:
      - 5173:5173
    environment:
      VITE_BACKEND_URL: 'http://localhost:8888/api'
