name: todoapp

networks:
  todoapp:


services:
  todoback:
    command: npm run dev
    image: todo-backend-dev
    build:
      context: .
      dockerfile: Dockerfile-dev
    volumes:
      - ./:/usr/src/app
    networks:
      - todoapp
    ports:
      - 3000:3000
    environment:
      MONGO_URL: 'mongodb://the_username:the_password@todoapp-mongo-1:27017/the_database'
      REDIS_URL: 'redis://todoapp-redis-1:6379'
