services:
  todoapp-dev:
    command: npm run dev
    image: todo-backend-dev
    build:
      context: .
      dockerfile: Dockerfile-dev
    volumes:
      - ./:/usr/src/app
    ports:
      - 3000:3000
  debug-helper:
    image: busybox
